.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    
    padding: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    row-gap: 1.3rem;
    column-gap: 1.3rem;
   
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 30px;
    
    text-align: center;
  }

  .grid-item:hover {
    box-shadow: 0 0rem 1.5rem 0.6rem #e95864;
  }